.table-container {
  background: rgb(95, 94, 98);
  background: linear-gradient(90deg, rgba(78,32,158,1) 0%, rgba(104,88,246,1) 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  margin: 10px; /* Espaçamento em torno do container */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px; 
  color: #fff;
  margin-top: 10px;
}

.tabela {
  width: 80%;
  margin: 0 auto; /* Isso centralizará a tabela horizontalmente */
}

mat-paginator {
  width: 80%;
}

.filter-container {
  border-radius: 30px;
  align-items: end;
}

/* Estilo para os botões */
.demo-button {
  background-color: #424242; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  margin-top: 10px;
}

/* Estilizar botão desativado */
.demo-button:disabled {
  background-color: #ccc; /* Cor de fundo cinza para botão desativado */
  cursor: not-allowed; /* Cursor de não permitido para botão desativado */
}

/* Efeito de hover para botões */
.demo-button:hover {
  background-color: #727578; /* Cor de fundo mais escura ao passar o mouse */
}

/* Adicione uma classe para realçar a linha selecionada */
.selected-row {
  background-color: #a8a8a8;
  cursor: pointer;
}

